/dist/
/.idea/
/node_modules/
/demo/angular-demo/.angular/
/demo/angular-demo/node_modules/
/demo/angular-demo/.vscode/
/demo/react-demo/node_modules/
/demo/react-demo/src/dist/
/coverage/
/demo/react-demo/src/env-variables.ts
/demo-env-variables.mjs
