/dist/
/.idea/
/demo/angular-demo/.angular/
/demo/angular-demo/node_modules/
/demo/angular-demo/.vscode/
/demo/react-demo/node_modules/
/demo/react-demo/src/dist/
/coverage/
/demo/react-demo/src/env-variables.ts
/demo/demo-env-variables.mjs
/test-env-variables.mjs
.DS_Store
docs-site/site
node_modules
