<h1>Route Planner Simple request</h1>
<button (click)="makeSimpleRequest()">Simple Request</button>
<p>{{ simpleRequestResult }}</p>

<h2>Route Planner Timeline</h2>
<button (click)="generateTask()" style="margin-right: 10px">Generate Task</button>
<button (click)="solveTask()"  *ngIf="routePlannerTimeline" style="margin-right: 10px">Solve Task</button>
<button (click)="generateAndSolveTask()" >Generate and Solve Task</button>

<div *ngIf="routePlannerTimeline" style="padding-top: 10px">
    <button (click)="lightTheme()">Light Theme</button>
    <button (click)="darkTheme()">Dark Theme</button>
</div>

<div #timelinesContainer style="padding-top: 20px">

</div>